@import "wallets://app-stdlib/css/common.css";
@import "wallets://assets/font-awesome.css";

body {

  font-size: 14px;
  background: var(--bg-color--default);
  color: var(--text-color--default);
}

@media (prefers-color-scheme: dark) {
  body {

  }
}